<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>达州市统计信息网——后台管理</title>
		<link rel="stylesheet" href="__PLUGINS__/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__CSS__/main.css" />
	</head>

	<body>

		<div class="admin-main">
		
			<blockquote class="layui-elem-quote">
				<p>网站管理系统开发:</p>
				<p>
					程序开发：
					<a href="http://www.zqcool.com" target="_blank">
						深圳市千合科技有限公司（http://www.zqcool.com）
					</a>
				</p>
				<p>
					联系电话：
					<a href="http://www.zqcool.com" target="_blank">185-6577-2116</a>
				</p>
				<p>客服QQ：2773403778</p>
				<p>
					建议反馈和问题收集地址:
					<a href="http://www.zqcool.com">2773403778@qq.com</a>
				</p>
			</blockquote>

			<fieldset class="layui-elem-field">
				<legend>系统信息统计</legend>
				<div class="layui-field-box">
					<fieldset class="layui-elem-field layui-field-title">
						<legend>服务器环境</legend>
						<div class="layui-field-box">
							<p>1、服务器名：{$ip}</p>
							<p>2、服务器版本：{$server}</p>
							<p>3、站点物理路径：{$root}</p>
							<p>4、服务器操作系统： {:php_uname()}</p>
					</fieldset>
					<fieldset class="layui-elem-field layui-field-title">
						<legend>版权声明</legend>
						<div class="layui-field-box">
							1、本软件为共享软件,未经书面授权，不得向任何第三方提供本软件系统; <br>
							2、用户自由选择是否使用,在使用中出现任何问题和由此造成的一切损失作者将不承担任何责任; <br>
							3、您可以对本系统进行修改和美化，但必须保留完整的版权信息; <br>
							4、本软件受中华人民共和国《著作权法》《计算机软件保护条例》等相关法律、法规保护，作者保留一切权利。
						</div>
					</fieldset>
				</div>
			</fieldset>

		</div>
	</body>

</html>