<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>编辑链接</title>
		<link rel="stylesheet" href="__PLUGINS__/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PLUGINS__/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__CSS__/global.css" media="all">
		<link rel="stylesheet" href="__CSS__/table.css" />
	</head>

	<body>

		<form class="layui-form" style="padding: 50px 50px;">
			<div class="layui-form-item">
				<label class="layui-form-label">类别：</label>
				<div class="layui-input-block">
					<select name="type" lay-filter="">
						<option value="1" selected="">省市法院</option>
						<option value="2">基层法院</option>
					</select>
				</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">站点名称：</label>
				<div class="layui-input-block">
					<input type="text" name="site_name" value="" placeholder="请输入站点名称" autocomplete="off" class="layui-input" lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">网站地址：</label>
				<div class="layui-input-block">
					<input type="text" name="site_address" value="" placeholder="请输入网站地址" autocomplete="off" class="layui-input" lay-verify="url">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="*">确定</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>

		<script type="text/javascript" src="__PLUGINS__/layui/layui.js"></script>
		<script>
			layui.config({
				base: '__PLUGINS__/layui/modules/'
			});

			layui.use(['form', 'jquery', 'layedit', 'laydate'], function() {

				var $ = layui.jquery,
					form = layui.form(),
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;

				//监听提交
				form.on('submit(*)', function(data) {
					$.post('{:U("Friendlink/add",array("ajax"=>1))}',data.field,function(result){
						if(result.success){
							layer.msg('添加成功！',function(){
								var index = parent.layer.getFrameIndex(window.name); 
								parent.layer.close(index);
							});
						}else{
							layer.msg(result.msg);
						}
					});
					return false; // 阻止表单提交
				});
			});
		</script>
	</body>

</html>