<meta charset="UTF-8">

<div class="copyright">
		<div class="container clearfix">
			<table cellpadding="0" cellspacing="0" border="0" width="100%" style="table-layout:fixed;">
				<tbody>
					<tr>
						<td align="right">
							<span class="biaoshi-wrap">
								<span id="_ideConac">
									<a href="http://bszs.conac.cn/sitename?method=search&keyword=http://www.dzsdcqfy.gov.cn/&captcha=MDn4&searchTypeValue=2" target="_blank">
										<img id="imgConac" vspace="0" hspace="0" border="0" src="__IMAGE__/red.png" data-bd-imgshare-binded="1">
									</a>
								</span>
								<span id="_span_jiucuo">
									<a href="http://114.55.181.28/databaseInfo/index" target="_blank"s>
									<img style="margin:0;border:0;cursor: pointer;" src="__IMAGE__/error.png"></a>
								</span>
							</span>
						</td>
						<td width="480">
							opyright (c) Since 2017 by 达川区人民法院 all rights reserved. <br>
							ICP备案编号：蜀ICP备09020326  技术支持：<a href="http://zqcool.com" target="_blank">深圳市千合科技有限公司</a><br>
							地址：四川省达州市达县茂华街123号 电话：0818-2670140 邮政编码：635000
						</td>
						<td align="left">
							<img src="__IMAGE__/qrcode.png" width="80" style="padding-left:40px;">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="right-navBox">
	    <div class="right-nav-touch"></div>
	    <div class="hand" style="opacity: 100; right: 0px;"><span>触碰右侧展开</span></div>
	    <div class="right-nav" style="right: -78px;">
	        <ul>
	            <li><a class="a1" href="#" target="_blank">微信公众号</a></li>
	            <li><a class="a2" href="http://weibo.com/u/3909710280?refer_flag=1001030102_" target="_blank">微 博</a></li>
	            <li><a class="a3" href="#" target="_blank">邮件订阅</a></li>
	            <li><a class="a4" href="javascript:alert('0818-2659540');" target="_blank">咨询</a></li>
	            <li><a class="a7" href="javascript:alert('0818-2659540');" target="_blank">举报</a></li>
	            <li><a class="a5" href="http://map.baidu.com/" target="_blank">来院导航</a></li>
	            <li><a class="a6" href="#" target="_blank">诉讼APP</a></li>
	        </ul>
	    </div>
	</div>

	<script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
	<js href="__JS__/slider.js" />
	<script>
		$(function(){

			$('.slider-container').sliderPlayer();

			$(".link-type-item").mouseenter(function(){
				$index = $(this).index();
				$(this).addClass('active').siblings().removeClass('active');
				$(".link-list").eq($index).show().siblings("ul").hide();
			})

			$(".right-navBox").hover(function() {
				$(".right-nav").stop().animate({
					right: 0
				});
				$(".hand").stop().animate({
					right: '80px',
					opacity: 0
				});
			}, function() {
				$(".right-nav").stop().animate({
					right: '-78px'
				});
				$(".hand").stop().animate({
					right: 0,
					opacity: 1
				});
			});
			
		});
	</script>

</body>
</html>
